.section{
    padding: 70px 0;
    position: relative;
    background-color: #FFFFFF;
    &.section-alerts {
        padding-bottom: 0;
    }
}
.section-with-space{
    padding: 60px 0;
}
.section-gray{
    padding: 70px 0;
    background-color: #EEEEEE;
}
.section-nude{
    background-color: $bg-nude;
}
.section-gold{
    background-color: #caac90;
    color: $white-color;
}
.section-brown{
    background-color: #A59E94;
    color: $white-color;
}
.section-light-blue{
    background-color: $primary-color;
    color: $white-color;
}
.section-dark-blue{
    background-color: #506367;
    color: $white-color;
}
.section-dark{
    background-color: #0b1011;
}
.section-image,
.section-gold,
.section-dark{
    position: relative;

    .title,
    .info-title,
    .card-plain .card-title{
        color: $white-color !important;
    }
    .category,
    .description,
    .card-plain .card-description,
    .card-plain .card-category{
        color: rgba($white-color, .7);
    }
    hr{
        border-color: rgba(255, 255, 255, 0.19);
    }
}
.page-header,
.carousel-caption{
    .title,
    .info-title{
        color: $white-color;
    }
}
[class*="features-"],
[class*="team-"],
[class*="projects-"],
[class*="pricing-"],
[class*="testimonials-"],
[class*="contactus-"]{
    padding: 80px 0;
}
.section-image{
    background-position: center center;
    background-size: cover;

    &:before{
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    & .container{
        position: relative;
        z-index: 2;
    }
}

.section-login{
    min-height: 700px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .page-header{
        .content-center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -75%);
        }
        .presentation-title{
            background: none !important;
        }
    }
}


[class*="features-"],
[class*="team-"],
[class*="projects-"],
[class*="pricing-"],
[class*="testimonials-"],
[class*="contactus-"] {
    padding: 80px 0;
}
.section-image {
    background-position: center center;
    background-size: cover;

    &:before {
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    & .container {
        position: relative;
        z-index: 2;
    }
}

.section-pa {
    .container {
        width: 100% !important;
    }
}

.features-5 {
    [class*=info] {
        -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
        -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
        -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
        -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
        transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
        &:hover:not(.subclass-skill-tree) {
            //box-shadow: 0px 12px 19px -7px rgba(2, 64, 106, 0.3);
            transform: translateY(-10px);
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
          }
    }
    .top-line {
        border-radius: $border-radius-extreme;
        box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
        background-color: rgba(9, 67, 28, 0.097);
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        border: 0 none;
    }
    .bottom-line {
        border-radius: $border-radius-extreme;
        box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
        background-color: rgba(5, 58, 70, 0.097);
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        border: 0 none;
    
    }
    .container {
        @media (min-width: 1500px) {
            max-width: 1440px;
        }
    }
    .subclass-tag {
        margin-bottom: 1vh;
    }
    .subclass-skill-tree {
        transition: 300ms ease;
        &:hover{
            transition: 300ms ease;
        }
    }
    .info {
        padding: 30px 0;
        text-align: center;
        margin: 0 auto;
    }
    .info, .title {
    color: $white-color;
    }
    .info p {
        color: hsla(0,0%,100%,.8);
    }
}
